<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">


    <!-- ====================   Consumer   ==================== -->
    <!-- AbstractDbConsumer -->
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetClass" value="com.dummy.myerp.consumer.db.AbstractDbConsumer"/>
        <property name="targetMethod" value="configure"/>
        <property name="arguments">
            <map>
                <entry value-ref="dataSourceMYERP">
                    <key>
                        <value type="com.dummy.myerp.consumer.db.DataSourcesEnum">MYERP</value>
                    </key>
                </entry>
            </map>
        </property>
    </bean>


    <!-- ==================== Consumer-Proxy ==================== -->

    <!-- ConsumerHelper -->
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetClass" value="com.dummy.myerp.consumer.ConsumerHelper"/>
        <property name="targetMethod" value="configure"/>
        <property name="arguments">
            <list>
                <ref bean="DaoProxy"/>
            </list>
        </property>
    </bean>



    <!-- DaoProxy -->
    <bean id="DaoProxy" class="com.dummy.myerp.consumer.dao.impl.DaoProxyImpl" factory-method="getInstance">
        <property name="comptabiliteDao" ref="ComptabiliteDaoImpl"/>
    </bean>



    <!-- ==================== Databases h2==================== -->
<!--    <jdbc:embedded-database id="datasource" type="H2"></jdbc:embedded-database>-->

    <!-- ========== SQL ========== -->
    <import resource="sqlContext.xml"/>




<bean id="dataSourceMYERP" class="org.springframework.jdbc.datasource.LazyConnectionDataSourceProxy">
<constructor-arg>
    <bean class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
        <property name="driverClass" value="org.h2.Driver" />
        <property name="url"
                  value="jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;MODE=Oracle;TRACE_LEVEL_SYSTEM_OUT=2;INIT=RUNSCRIPT FROM 'classpath:create.sql'" />
    </bean>
</constructor-arg>
</bean>
    <import resource="transactionContext.xml"/>
</beans>
