<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <bean id="dataSourceMYERP"  class="org.springframework.jdbc.datasource.LazyConnectionDataSourceProxy">
        <constructor-arg>
            <bean class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
                <property name="driverClass" value="org.postgresql.Driver" />
                <property name="url"
                          value="jdbc:postgresql://localhost:9032/db_myerp" />
                <property name="username" value="usr_myerp"/>
                <property name="password" value="myerp"/>
            </bean>
        </constructor-arg>
    </bean>
</beans>
